<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <title>Portfolio</title>
</head>


<body>
    <div class="frame">
        <div class="main_frame">
            <div class="left_frame">
                <div class="left_1">
                    <div class="left_1-1">
                        <img 
                        src="images/profile.png" 
                        width="156" 
                        height="142" 
                        alt=""
                        />
                    </div>
                    <div class="left_1-2"><%= user.name %></div>
                    <div class="left_1-3"><%= user.profession %></div>
                    <div class="left-icons">
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Facebook.svg" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Instagram.svg" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Twitter.svg" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Linkeding.svg" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Youtube.svg" class="icon-1">
                            </div>
                        </a>
                        <a class="link_href" href="">
                            <div class="icon">
                                <img src="icon/Dribbble.svg" class="icon-1">
                            </div>
                        </a>
                        
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="about">
                    <div class="about-age">
                        <div class="about-age-rectangle">
                            <div class="about-age-age">Age:</div>
                        </div>
                        <div class="about-age-24">24</div>
                    </div>
                    <div class="about-residence">
                        <div class="about-residence-rectangle">
                            <div class="about-residence-residence">Residence:</div>
                        </div>
                        <div class="about-residence-bd">BD</div>
                    </div>

                    <div class="about-residence">
                        <div class="about-residence-rectangle">
                            <div class="about-residence-residence">Freelance:</div>
                        </div>
                        <div class="available" style="color: #7EB942;">Available</div>
                    </div>
                    <div class="about-residence">
                        <div class="about-residence-rectangle">
                            <div class="about-residence-residence">Address:</div>
                        </div>
                        <div class="available" style="color: #2B2B2B;">Dhaka,Bangladesh</div>
                    </div>

                </div>
                <div class="marginer"></div>
                <div class="left_3">
                    <div class="languages">Languages</div>
                    <div class="ikki-tarafga">
                        <div class="lang">Bangla</div>
                        <div class="lang">100%</div>
                    </div>
                    <div class="left_3-line">
                        <div class="rectangle-6">
                            <div class="rectangle-7"></div>
                        </div>
                    </div>
                    <div class="ikki-tarafga">
                        <div class="lang">English</div>
                        <div class="lang">80%</div>
                    </div>
                    <div class="left_3-line">
                        <div class="rectangle-6">
                            <div class="rectangle-7" style="width: 208px;"></div>
                        </div>
                    </div>
                    <div class="ikki-tarafga">
                        <div class="lang">Spanish</div>
                        <div class="lang">60%</div>
                    </div>
                    <div class="left_3-line">
                        <div class="rectangle-6">
                            <div class="rectangle-7" style="width: 190px;"></div>
                        </div>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_4">
                    <div class="languages">Skills</div>
                    <div class="ikki-tarafga">
                        <div class="lang">Html</div>
                        <div class="lang">90%</div>
                    </div>
                    <div class="left_3-line">
                        <div class="rectangle-6">
                            <div class="rectangle-7" style="width: 209px;"></div>
                        </div>
                    </div>
                    <div class="ikki-tarafga">
                        <div class="lang">CSS</div>
                        <div class="lang">85%</div>
                    </div>
                    <div class="left_3-line">
                        <div class="rectangle-6">
                            <div class="rectangle-7" style="width: 207px;"></div>
                        </div>
                    </div>
                    <div class="ikki-tarafga">
                        <div class="lang">Js</div>
                        <div class="lang">80%</div>
                    </div>
                    <div class="left_3-line">
                        <div class="rectangle-6">
                            <div class="rectangle-7" style="width: 201px;"></div>
                        </div>
                    </div>
                    <div class="ikki-tarafga">
                        <div class="lang">PHP</div>
                        <div class="lang">75%</div>
                    </div>
                    <div class="left_3-line">
                        <div class="rectangle-6">
                            <div class="rectangle-7" style="width: 187px;"></div>
                        </div>
                    </div>
                    <div class="ikki-tarafga">
                        <div class="lang">Wordpress</div>
                        <div class="lang">85%</div>
                    </div>
                    <div class="left_3-line">
                        <div class="rectangle-6">
                            <div class="rectangle-7" style="width: 207px;"></div>
                        </div>
                    </div>
                </div>
                <div class="marginer"></div>
                <div class="left_5">
                    <div class="languages">Extra Skills</div>
                    <div class="ikki-tarafga" style="display: flexbox; justify-content: flex-start;">
                        <div class="icon-2"><img src="icon/Icons.svg"></div>
                        <div class="lang">Bootsrap, Materialize</div>
                    </div>
                    <div class="ikki-tarafga" style="display: flexbox; justify-content: flex-start;">
                        <div class="icon-2"><img src="icon/Icons.svg"></div>
                        <div class="lang">Stylus, Sass, Less</div>
                    </div>
                    <div class="ikki-tarafga" style="display: flexbox; justify-content: flex-start;">
                        <div class="icon-2"><img src="icon/Icons.svg"></div>
                        <div class="lang">Gulp, Webpack, Grunt</div>
                    </div>
                    <div class="ikki-tarafga" style="display: flexbox; justify-content: flex-start;">
                        <div class="icon-2"><img src="icon/Icons.svg"></div>
                        <div class="lang">GIT Knowledge</div>
                    </div>
                </div>
                <div class="marginer"></div>
                <a class="download" href="">
                    <div>
                        <img src="icon/CV2.png" alt="">
                    </div>
                </a>
                </div>
                <div class="midd_frame">
                    <div class="main-menu">
                        <div class="chap" style="margin-left: 30px;">
                            <div class="doctor-text">
                                <p class="text">Doctor neurologists in OHSU Hospital </p>
                            </div>
                            <div class="lorem">
                                <div class="lorem-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                    Et, volutpat 
                                    feugiat placerat lobortis. Natoque rutrum semper sed suspendisse nunc lectus.</div>
                            </div>
                            <div class="hireme" style="margin-top: 30px;">
                                <img src="/author/btn_icon/Book Me.svg" alt="">
                            </div>
                        </div>
                        <div class="ong">
                            <div class="doctor-image">
                                <img src="/author/box_images/Your Image 1.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="bottom-menu">
                        <h2 style="text-align: center; font-size: 32;">My Services</h2>
                        <p style="font-size: 15px; text-align: center; color: #767676;">Amet Minim Mollit Non Deserunt Ullamco Est Sit Aliqua Dolor <br> 
                            Do Amet Sint. Velit Officia Consequat Duis Enim Velit Mollit. <br>
                            Lorem Ipsum</p>
                            <div class="container">
                                <div class="rectangle">
                                    <div class="icons">
                                        <img src="/author/btn_icon/coding.svg" style="margin-top: 30px;" alt="">
                                        <p class="line-1" style="size: 18px;">Web Development</p>
                                        <p class="line-2">Blog, E-commerce</p>
                                    </div>
                                </div>
                                <div class="rectangle">
                                    <div class="icons">
                                        <img src="/author/btn_icon/illustration.png" style="margin-top: 30px;" alt="">
                                        <p class="line-1" style="size: 18px;">UI/UX Design</p>
                                        <p class="line-2">Mobile App, Website Design</p>
                                    </div>
                                </div>
                                <div class="rectangle">
                                    <div class="icons">
                                        <img src="/author/btn_icon/Microphone.svg" style="margin-top: 30px;" alt="">
                                        <p class="line-1" style="size: 18px;">Sound Design</p>
                                        <p class="line-2">Voice Over, Beat Making</p>
                                    </div>
                                </div>
                                <div class="rectangle">
                                    <div class="icons">
                                        <img src="/author/btn_icon/game-development.png" style="margin-top: 30px;" alt="">
                                        <p class="line-1" style="size: 18px;">Game Design</p>
                                        <p class="line-2">Character Design, Props & Objects</p>
                                    </div>
                                </div>
                                <div class="rectangle">
                                    <div class="icons">
                                        <img src="/author/btn_icon/Photographer.svg" style="margin-top: 30px;" alt="">
                                        <p class="line-1" style="size: 18px;">Photograpy</p>
                                        <p class="line-2">Portrait, Product Photograpyh</p>
                                    </div>
                                </div>
                                <div class="rectangle">
                                    <div class="icons">
                                        <p class="line-1" style="size: 18px; margin-top: 30px;">Advertising</p>
                                        <p class="line-2">Lorem Ipsum Dolor Sit Amet, <br>
                                             Consectetur Adipiscing Elit. Vitae <br>
                                            Nulla Diam In Ac Dictum A Urna <br>
                                            Viverra Morbi.|</p>
                                        <p class="order" style="size: 12px;">ORDER NOW ></p>
                                    </div>
                                </div>
                              </div>
                              
                </div>    
                
            </div>
            <div class="right_frame">
                <div class="contrast">
                    <img src="/author/btn_icon/Contrast.png" alt="">
                </div>
                <div class="right-icons">
                    <div class="home_right">
                        <a href="">
                            <img src="/author/btn_icon/Home.png" alt="">
                        </a>
                    </div>
                    <div class="right-icon">
                        <a href="">
                            <img src="/author/btn_icon/Service.png" alt="">
                        </a>
                    </div>
                    <div class="right-icon">
                        <a href="">
                            <img src="/author/btn_icon/Service.png" alt="">
                        </a>
                    </div>
                    <div class="right-icon">
                        <a href="">
                            <img src="/author/btn_icon/Cv.png" alt="">
                        </a>
                    </div>
                    <div class="right-icon">
                        <a href="">
                            <img src="/author/btn_icon/Portfolio.png" alt="">
                        </a>
                    </div>
                    <div class="right-icon">
                        <a href="">
                            <img src="/author/btn_icon/Blog.png" alt="">
                        </a>
                    </div>
                    <div class="right-icon">
                        <a href="">
                            <img src="/author/btn_icon/Contact.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
