<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" 
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJ2ZqFGwb10TTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4¡YMj70gZWKYbI706tWS"
    crossorigin="anonymous"
>
</link>
    <title>reja</title>
</head>
<body style="background-color: #fff; text-align: center;">
    <div class="container">
        <div class="container">
            <h1 class="display-4 text-center py-1">
                Reja va Maqsadlar
            </h1>
            <div class="jumbotron p-3 shadow-sm">
                <form id="create-form" action="/create-item" method="POST">
                    <div class="d-flex align-items-center mb-3">
                        <input 
                            type="text"
                            id="create-field"
                            name="reja"
                            autofocus
                            autocomplete="off"
                            class="form-control mr-3"
                            style="flex: 1"
                        >
                        <button class="btn btn-primary" style="border-radius: 10px">
                            Yangi reja qoshish
                        </button>
                    </div>
                </form>
            </div>
            <ul id="item-list" class="list-group pb-5">
                <% items.map(function(item) { %>
                    <li class="list-group-item list-group-item-info d-flex align-items-center justify-content-between">
                        <span class="iten-text"><%=item.reja%></span>
                        <div>
                            <button data-id="<%=item._id%>" class="edite-me btn btn-secondary btn-sm mr-1">
                                O'zgartirish
                            </button>
                            <button data-id="<%=item._id%>" class="delete-me btn btn-danger btn-sm">
                                O'chirish
                            </button>
                        </div>
                    </li>
                <% }) %>
            </ul>
            <button type="button" class="btn btn-danger">
                Hammasini rejalarni o'chirish
            </button>
        </div>
    </div>
    
</body>
</html>